parameters:

    project_name:
    project_name_slug:

    database_host: localhost
    database_port:
    database_name:
    database_user: root
    database_password: root

    mailgun.key:
    mailgun.domain:

    secret: ThisTokenIsNotSoSecretChangeIt

    cors_allow_origin: http://localhost
